@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.inputDiv {
  background-color: red;
  border-radius: 20px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.inputArea {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
}
#text {
  padding: 0.8rem;
  background-color: #fff;
  text-decoration: none;
  width: 75%;
  border: none;
  font-weight: 500;
}
#text:focus {
  outline: none;
}
.Btn {
  border: none;
  padding: 0.8rem;
  height: auto;
  width: 25%;
}
h1 {
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}
.search {
  border: none;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: #fff;
}
.search:focus {
  outline: none;
}
li.tidakDicari {
  display: none;
}



ul li:nth-child(odd) {
  background-color: #eee;
}
ul li.checked {
  color: #fff;
  text-decoration: line-through;
  background-color: #7e7e7e;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul {
  padding-left: 0;
}
li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 2.5rem;
  cursor: pointer;
  margin-left: 0;
  transition: 0.2s;
  display: flex;
  align-items: center;
  
}



li span {
  position: absolute;
  right: 20px;
}


